

.rounded-rect {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 50px -25px black;
}

.flex-center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center.left {
    left: 0px;
}

.sidebar-content {
    position: absolute;
    width: 95%;
    height: 95%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: gray;
}

.sidebar-toggle {
    position: absolute;
    width: 1.3em;
    height: 1.3em;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-toggle.left {
    right: -1.5em;
}


.sidebar-toggle:hover {
    color: #0aa1cf;
    cursor: pointer;
}

.sidebar {
    transition: transform 1s;
    z-index: 1;
    width: 300px;
    height: 100%;
}

/*
The sidebar styling has them "expanded" by default, we use CSS transforms to push them offscreen
The toggleSidebar() function removes this class from the element in order to expand it.
*/
.left.collapsed {
    transform: translateX(-295px);
}

#colors-legend span {
    border-radius: 3px;
    display: inline-block;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 100%;
    display: block;
}

.legend {
    font-size: 16px;
    height: 85%;
    position: fixed;
    margin: 5px 5px 5px 5px;
    overflow: auto;
    padding: 10px;
    width: 275px;
}

#countries-legend div span.color {
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    margin-right: 5px;
    width: 20px;
}

#title {
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 10px;
    text-align: center;
}

#countries { 
 list-style: none;
}

#countries li { 
    cursor:pointer;
}
#countries li:hover { 
    background-color: #bec1c2;
}

#industries { 
 list-style: none;
}

#industries li { 
    cursor:pointer;
}
#industries li:hover { 
    background-color: #bec1c2;
}

#leads { 
 list-style: none;
}

#leads h6 { 
    cursor:pointer;
}
#leads h6:hover { 
    background-color: #bec1c2;
}
